.sheet {
  z-index: 999 !important;
}
.container {
  background-color: var(--popup-bg-color) !important;
  border-radius: 20px 20px 0 0 !important;
  overflow: hidden;
}

.content {
  min-height: 0;
  overflow: hidden auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}
.header {
  height: 32px;
  width: 100%;
  cursor: grab;
  background-color: var(--popup-bg-color);
}
.header > div {
  height: 100% !important;
}
